body {
    background-color: beige;
    user-select: none;
}

#canvasBox,
#controlPanel {
    display: inline-block;
    vertical-align: top;
}

#canvasBox {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
}

#canvasBox.drag {
    border-color: green;
}

#canvas {
    background-color: white;
}

#controlPanel>div {
    margin-bottom: 15px;
}

div#lineWidthControl {
    margin-bottom: 30px;
}

label,
input {
    display: inline-block;
    vertical-align: middle;
}

label {
    width: 105px;
}

#canvasColor,
#lineColor {
    width: 66px;
    padding: 3px;
}

#lineWidth {
    width: 60px;
    padding: 5px;
}

#dragItems>img {
    margin-right: 20px;
}

#dragItems>img:last-child {
    margin-right: 0;
}
